<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Group</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="icon" href="{% static 'sakura_spike.webp' %}" type="image/webp">
</head>
<body>
    <h1>Create a New Group</h1>
    <form method="post">
        {% csrf_token %}
        <label for="group_name">Group Name:</label>
        <input type="text" id="group_name" name="name" placeholder="Enter group name" required>
        <button type="submit">Create Group</button>
    </form>
    <button onclick="history.back()">Go Back</button>
</body>
</html>
