<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Details</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="icon" href="{% static 'sakura_spike.webp' %}" type="image/webp">
</head>
<body>
    <h1>Group Details</h1>
    <h2>{{ group.name }}</h2>
    <ul>
        {% for player in players %} 
        <li> {{ player.brawl_name }}</li>
        {% endfor %}
    </ul>
    <form action="{% url 'add_player' group_id=group.id %}">
        <button type="submit">Add Player</button>
    </form>
    <div class="card-scroll-container">
        <div class="card-container">
          {% for player in players %}
          <div class="card">
            <div class="player-name">{{ player.name }}</div>
            <div class="player-id"><strong><h3>Player:</strong> {{ player }}</h3></div>
            <div class="tilted-stats">
                <h2>Tilted Statistics</h2>
              {% for brawler, stats in player.tilted_stats.items %}
              <div><h4>{{ brawler }}: {{ stats }}</h4></div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      
      
      
      
    <button onclick="history.back()">Go Back</button>
</body>
</html>


