<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Welcome <span id="playerName">{{ player_name }}!</span></h1>
    {% if converted_tilt %}
        <h2>Tilted Brawlers:</h2>
        <ul>
            {% for brawler, tilt in converted_tilt.items %}
                <li>{{ brawler }}: {{ tilt }} trophies</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tilted brawlers found.</p>
    {% endif %}
    
    <!-- Add back button -->
    <button onclick="history.back()">Go Back</button>
</body>
</html>
